RDI_Homework_6/SoapClient/Service References/Soap/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SoapServer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpService_GetEmpires_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpires" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpires_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpiresResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpireNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpireNames" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpireNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpireNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetGovernmentNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGovernmentNames" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetGovernmentNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGovernmentNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AddEmpire_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpire" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AddEmpire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpireResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_RemoveEmpire_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmpire" />
  </wsdl:message>
  <wsdl:message name="IEmpService_RemoveEmpire_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmpireResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpire_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpire" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpire_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpireResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ModifyEmpire_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpire" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ModifyEmpire_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpireResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ModifyEmpireName_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpireName" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ModifyEmpireName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpireNameResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ModifyEmpireGovernment_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpireGovernment" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ModifyEmpireGovernment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpireGovernmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpService">
    <wsdl:operation name="GetEmpires">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/GetEmpires" message="tns:IEmpService_GetEmpires_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/GetEmpiresResponse" message="tns:IEmpService_GetEmpires_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpireNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/GetEmpireNames" message="tns:IEmpService_GetEmpireNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/GetEmpireNamesResponse" message="tns:IEmpService_GetEmpireNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGovernmentNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/GetGovernmentNames" message="tns:IEmpService_GetGovernmentNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/GetGovernmentNamesResponse" message="tns:IEmpService_GetGovernmentNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmpire">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/AddEmpire" message="tns:IEmpService_AddEmpire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/AddEmpireResponse" message="tns:IEmpService_AddEmpire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmpire">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/RemoveEmpire" message="tns:IEmpService_RemoveEmpire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/RemoveEmpireResponse" message="tns:IEmpService_RemoveEmpire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpire">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/GetEmpire" message="tns:IEmpService_GetEmpire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/GetEmpireResponse" message="tns:IEmpService_GetEmpire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpire">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/ModifyEmpire" message="tns:IEmpService_ModifyEmpire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/ModifyEmpireResponse" message="tns:IEmpService_ModifyEmpire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpireName">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/ModifyEmpireName" message="tns:IEmpService_ModifyEmpireName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/ModifyEmpireNameResponse" message="tns:IEmpService_ModifyEmpireName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpireGovernment">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/ModifyEmpireGovernment" message="tns:IEmpService_ModifyEmpireGovernment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/ModifyEmpireGovernmentResponse" message="tns:IEmpService_ModifyEmpireGovernment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpService" type="tns:IEmpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmpires">
      <soap:operation soapAction="http://tempuri.org/IEmpService/GetEmpires" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpireNames">
      <soap:operation soapAction="http://tempuri.org/IEmpService/GetEmpireNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGovernmentNames">
      <soap:operation soapAction="http://tempuri.org/IEmpService/GetGovernmentNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpire">
      <soap:operation soapAction="http://tempuri.org/IEmpService/AddEmpire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmpire">
      <soap:operation soapAction="http://tempuri.org/IEmpService/RemoveEmpire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpire">
      <soap:operation soapAction="http://tempuri.org/IEmpService/GetEmpire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpire">
      <soap:operation soapAction="http://tempuri.org/IEmpService/ModifyEmpire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpireName">
      <soap:operation soapAction="http://tempuri.org/IEmpService/ModifyEmpireName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpireGovernment">
      <soap:operation soapAction="http://tempuri.org/IEmpService/ModifyEmpireGovernment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpService">
    <wsdl:port name="BasicHttpBinding_IEmpService" binding="tns:BasicHttpBinding_IEmpService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SoapServer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>