RDI_Homework_6/SoapClient/Service References/Soap/SoapServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpireDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpireDTO" nillable="true" type="tns:EmpireDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpireDTO" nillable="true" type="tns:ArrayOfEmpireDTO" />
  <xs:complexType name="EmpireDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EGov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpireDTO" nillable="true" type="tns:EmpireDTO" />
</xs:schema>